body {
  margin: 0;
  max-width: 100%;
  overflow-y: hidden;
}


/* header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 5px 0;
  color: white;
  z-index: 1000;
  box-shadow: 0 4px 2px -2px gray;
} */

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #248f9b;
  color: white;
  z-index: 1000;
  box-shadow: 0 4px 2px -2px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  cursor: pointer;
}

.nav-links li a:hover {
  color: #f1c40f;
}

/* ハンバーガーメニュー */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* レスポンシブ対応 */
/* @media (max-width: 768px) {
  .nav-links {
      display: none;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #333;
      width: 100%;
      text-align: right;
      flex-direction: column;
  }

  .nav-links li {
      margin: 10px 0;
  }

  .hamburger {
      display: flex;
  }

  .hamburger.active + .nav-links {
      display: flex;
  }
} */

pre,
code {
  overflow: auto;
}

.split-view {
  display: flex;
  margin-top: 37px;
  height : 100%;
}
.split-view.vertical{
  flex-direction: row;
}
.split-view.holizontal{
  flex-direction: column;
}

#pageContainer {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 37px)
}

/* スクリーンバーの表示に合わせて画面サイズを調整 */
@media (max-width: 1016px) {
  #pageContainer {
    height: calc(100vh - 52px)
  }
}

#blocklyDiv {
  flex-basis: 100%;
  height: 100%;
  min-width: 600px;
  order: 1;
}

#outputPane {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 95%;
  flex: 0 0 400px;
  overflow: auto;
  margin: 1rem;
  order: 2;
}

#generatedCode {
  background-color: rgb(247, 240, 228);
  order: 5;
  user-select: text;
  cursor: text;
}

#output {
  height: 70%;
  order: 3;
  overflow: auto ;
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

/* styleを指定しない場合にブロックが生成する要素のスタイルを定義 */

#output blockquote {
  margin: 1em 0;          /* 上下のマージンを設定 */
  padding: 0.5em 1em;    /* 内側のパディングを設定 */
  border-left: 4px solid #ccc; /* 左側にボーダーを追加 */
  background-color: #f9f9f9;    /* 背景色を設定 */
  /*color: #333;            /* 文字色を設定 */
  quotes: "“" "”" "‘" "’"; /* 引用符を設定 */
}

#output code {
  font-family: monospace;
  background-color: #f9f9f9;
  /* padding: 0.2em 0.4em;
  margin: 0; */
  /* font-size: 85%; */
  border-radius: 3px;
}

#output kbd {
  font-family: monospace;
  font-size: 1em;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.1em 0.6em;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

#output var {
  font-style: italic; /* 標準がitalic */
}

/* ブロックが生成する要素のスタイルここまで */

#code-button {
  position: relative;
  height: 50px;
  width: 150px;
  order: 4;
  margin: 0 auto
}

.afterClicked {
  position: relative;
  height: 160%;
  background-color: rgb(247,240,228);
  order:  5;
}

.beforeClicked {
  display: none;
}
#wstitle{
  background-color: gainsboro;
  width: fit-content;
  order: 3;
}
.hidden {
  display:none;
}

.safe {
  display: block;
  order: 6;
  background-color: blue;
  opacity:  50%;
  padding: 20px;
  color: white;
  margin: 20px;
  font-weight: 900;
  font-size: 20px;
}
.errorOccured {
  display: block;
  order: 6;
  background-color: red;
  padding: 20px;
  opacity: 80%;
  color: white;
  margin: 20px;
  font-weight: 1000;
  font-size: 20px;
}

/*
.popup-background{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh ;
  width: 100vw ;

  background-color: gray;
  opacity: 0.5;
}
.popup{
  --height: 300px;
  width: 300px;
  z-index: 100;
  position: fixed;
  top: calc(50vh -calc(var(--height)/2));
  left: calc(50vw -calc(var(--width)/2));
  height:var(--height);
  width:var(--width);
}
*/

/* #popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
} */

#popup-outer{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(100,100,100,0.5);
  z-index: 5000000;
  opacity: 0.5;
}

#popup-inner{
  position:absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  background-color  : rgba(255, 255, 255, 1);
  z-index: 10000000;
}

#popup-title {
  padding-top: 10px; /* 上部のマージン */  
  font-size: 24px; /* フォントサイズを大きく */
  font-weight: bold; /* 太字に */
  color: #333; /* タイトルの色 */
  margin-bottom: 15px; /* 下部のマージン */
  text-align: center; /* 中央揃え */
  border-bottom: 2px solid #007BFF; /* 下線の追加 */
  padding-bottom: 10px; /* 下線とのスペース */
}

#popup-close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 32px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 40%;
  width: 40px;
  height: 40px;
}

/* #popup-close:hover {
  background-color: #f9f9f9;
} */

#popup-button-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  /* margin-left: 20px;
  margin-right: 20px; */
}

.popup-buttons {
  padding: 10px 15px;
  background-color: white;
  color: #007BFF;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0;
}

.popup-buttons:hover {
  background-color: #e9f3fe;
  transition: background-color 0.3s;
}

.popup-buttons.active {
  background-color: #59a2f0; /* 選択中のボタンの背景色 */
  color: #fff; /* 選択中のボタンのテキスト色 */
  border: 2px solid #007BFF; /* 選択中のボタンに枠線を追加 */
}

.popup-arrow {
  margin: 0 10px; /* 矢印の左右のマージンを設定 */
  margin-top: 18px;
  font-size: 20px; /* 矢印のサイズ */
  line-height: 1; /* 矢印の行の高さを調整 */
  color: grey;
  cursor: default;
}

#popup-message {
  margin-bottom: 20px;
  overflow: auto;
  height: 50%;
}

.popup-slides {
  display: none; /* 初期は全て非表示 */
  margin-right: 20px;
  margin-left: 20px;
}

#popup-navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding-top: 20px; 
  margin-bottom: 0;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#popup-navigation button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* ボタン間のスペース */
  transition: background-color 0.3s; /* ホバー時のスムーズな変化 */
}

#popup-navigation #popup-prev {
  color: #007BFF;
  background-color: white;
  border: #007BFF 2px solid;
}

#popup-navigation #popup-prev:disabled {
  color: #ccc;
  border: #ccc 2px solid;
  pointer-events: none;
}

#popup-navigation button:hover {
  background-color: #0056b3; /* ホバー時の色変更 */
}

#popup-navigation #popup-prev:hover {
  background-color: #e9f3fe;
}