<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>いろいろなHTML要素</title>
    <link rel="icon" href="<%= require('/src/images/icon.svg') %>">
  </head>
  <body>
    <div id="content" style="visibility: hidden;">
      <header>
        <div class="header-container">
          <div class="header-logo"><img id="header-icon" src="<%= require('/src/images/icon.svg') %>">Blosite</div>
          <!-- <sub>by ut.code();</sub> -->
          <nav>
            <ul class="nav-links">
                <li><a href="/tutorial">チュートリアル一覧へ</a></li>
                <li id="header-help"><a>ヘルプ</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="split-view vertical">
          <div id="pageContainer">
            <div id="outputPane">
              <div id="wstitle"></div>
              <div id="output"></div>
              <pre id="generatedCode" class="beforeClicked"><code></code></pre>
              <div id="error-message"></div>
            </div>
            <div id="blocklyDiv">
              <div id="icon-container">
                <input type="checkbox" id="run-toggle" class="run-toggle">
                <label for="run-toggle" id="run-icon" class="play"></label>
                
                <input type="checkbox" id="menu-toggle" class="menu-toggle">
                <label for="menu-toggle" id="hamburger-icon"></label>
  
                <!-- メニュー -->
                <ul class="menu">
                  <li id="code-button">コードを表示</li>
                  <li id="run-switch-button">スクリプトの<br>常時実行:OFF</li>
                  <li id="sandbox-button">サンドボックス<br>で作り続ける</li>
                  <li id="preview-button">プレビューを<br>全画面で表示</li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="popup">
          <div id="popup-outer"></div>
          <div id="popup-sandbox">
            <div id="popup-close">×</div>
            <p id="popup-sandbox-message"></p>
            <button id="popup-sandbox-button">進む</button>
          </div>
          <div id="popup-inner">
            <div id="popup-title">繰り返しと条件分岐</div>
            <div id="popup-close">×</div>
            <div id="popup-button-container">
              <button class="popup-buttons" id="popup-button-0">目標</button>
              <span class="popup-arrow">➡️</span> 
              <button class="popup-buttons" id="popup-button-1">HTML要素の詳細</button>
              <span class="popup-arrow">➡️</span> 
              <button class="popup-buttons" id="popup-button-2">HTML属性とは</button>
              <span class="popup-arrow">➡️</span> 
              <button class="popup-buttons" id="popup-button-3">完成</button>
            </div>
            <div id="popup-message">
              <!-- ここにスライドコンテンツを表示 -->
              <div class="popup-slides" id="popupSlide-0" style="display: flex">
                <section class="silde-text-with-images">
                  <h3>条件分岐</h3>
                  <p>
                    条件分岐文は与えられた条件が満たされる場合と満たさない場合で処理を変えることができます。<br>
                    条件が満たされるとき、真を意味するTrueという<strong>値</strong>、満たされないときは偽を意味するFalseという<strong>値</strong>を出します。<br>
                    条件が満たされなかった場合、その中でまた他の条件を設定して処理を分けることもできます。<br>
                  </p>
                </section>
                <img src="<%= require('/src/images/various-html-elements_0.png') %>" alt="Sample Image" class="slide-images">
              </div>
              <div class="popup-slides" id="popup-slide-1" style="display: flex;">
                <section class="silde-text-with-images">
                  <h3>繰り返し</h3>
                  <p>
                    繰り返し文では与えられた条件が満たされている間文中の処理を繰り返し実行し続けることができます。<br>
                    条件が満たされているとき繰り返し文は中の処理を実行し、条件が満たされなくなると繰り返し文は処理をやめます。<br>
                    繰り返しの条件について、繰り返し文の中で引数(4.変数と関数 参照)のように変数を設定して処理の中で値を変化させる、ということもできます。<br>
                  </p>
                </section>
                <img src="<%= require('/src/images/various-html-elements_1.png') %>" alt="Sample Image" class="slide-images">
              </div>
              <div class="popup-slides" id="popup-slide-2" style="display: flex;">
                <section class="silde-text-with-images">
                  <p>
                    今回は置かれているブロックがどのように動くのか予想してみましょう。<br>
                    一度このヘルプを閉じて右に何が表示されるのか考えてみましょう。<br>
                    緑の繰り返し、グレーの条件分岐のブロックに注目して考えてみましょう。<br><br>
                    (注:iは最初が0で、処理を終えると1増える仕組みです。)
                  </p>
                </section>
              </div>
              <div class="popup-slides" id="popup-slide-3" style="display: flex; align-items: flex-start;">
                <section class="silde-text-with-images">
                  <h3>カウントダウンの仕組み</h3>
                  <p>
                    このカウントダウンは右のような仕組みになっています。<br>
                    カウントダウンは数字を減らす必要がありますが、iは0から増えていってしまいます。<br>
                    そこで、  (カウントダウンの秒数)-(iの数)としてあげれば、繰り返す上でiが1増えていくにつれて表示される秒数は1減っていきます。<br>
                    秒数が0になるときはiとカウントダウンの数が一致しているときなので、そのときに条件がFalseの方に向かっています。<br>
                    これでカウントダウンが0になって発射できるわけですね。<br><br>
                    カウントダウンの中の数字を変えるとその秒数も変えることができるので試してみてください！
                  </p>
                </section>
                <img src="<%= require('/src/images/various-html-elements_0.png') %>" alt="Sample Image" class="slide-images">
              </div>
            </div>
            <div id="popup-navigation">
              <button id="popup-prev">戻る</button>
              <button id="popup-next">進む</button>
              <button id="popup-end">始める</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
