<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>おみくじ</title>
    <link rel="icon" href="<%= require('/src/images/icon.svg') %>" />
  </head>
  <body>
    <div id="content" style="visibility: hidden">
      <header>
        <div class="header-container">
          <div class="header-logo">
            <img id="header-icon" src="<%= require('/src/images/icon.svg') %>">Blosite</div>
          <!-- <sub>by ut.code();</sub> -->
          <nav>
            <ul class="nav-links">
              <li><a href="/tutorial">チュートリアル一覧へ</a></li>
              <li id="header-help"><a>ヘルプ</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="split-view vertical">
        <div id="pageContainer">
          <div id="outputPane">
            <div id="wstitle"></div>
            <div id="output"></div>
            <pre id="generatedCode" class="beforeClicked"><code></code></pre>
            <div id="error-message"></div>
          </div>
          <div id="blocklyDiv">
            <div id="icon-container">
              <input type="checkbox" id="run-toggle" class="run-toggle" />
              <label for="run-toggle" id="run-icon" class="play"></label>

              <input type="checkbox" id="menu-toggle" class="menu-toggle" />
              <label for="menu-toggle" id="hamburger-icon"></label>

              <!-- メニュー -->
              <ul class="menu">
                <li id="code-button">コードを表示</li>
                <li id="run-switch-button">スクリプトの<br />常時実行:OFF</li>
                <li id="sandbox-button">サンドボックス<br />で作り続ける</li>
                <li id="preview-button">プレビューを<br />全画面で表示</li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="popup">
          <div id="popup-outer"></div>
          <div id="popup-sandbox">
            <div id="popup-close">×</div>
            <p id="popup-sandbox-message"></p>
            <button id="popup-sandbox-button">進む</button>
          </div>
          <div id="popup-inner">
            <div id="popup-title">おみくじ</div>
            <div id="popup-close">×</div>
            <div id="popup-button-container">
              <button class="popup-buttons" id="popup-button-0">目標</button>
              <span class="popup-arrow">&#x27A1;</span>
              <button class="popup-buttons" id="popup-button-1">DOM操作</button>
              <span class="popup-arrow">&#x27A1;</span>
              <button class="popup-buttons" id="popup-button-2">
                条件分岐
              </button>
              <span class="popup-arrow">&#x27A1;</span>
              <button class="popup-buttons" id="popup-button-3">
                発展・工夫
              </button>
            </div>
            <div id="popup-message">
              <!-- ここにスライドコンテンツを表示 -->
              <div class="popup-slides" id="popupSlide-0">
                <section class="silde-with-images">
                  <h3>目標</h3>
                  <p>
                    右の動画のようにボタンを押すとおみくじの結果が出てくるプログラミングを作成してみよう。
                  </p>
                  <p>
                    次のページからはヒントなので自信のある人はヒントを見ないでやってみよう！
                  </p>
                </section>
                <img
                  src="<%= require('/src/images/omikujirei.gif')%>"
                  alt="Sample Image"
                  class="slide-images"
                />
              </div>
              <div
                class="popup-slides"
                id="popup-slide-1"
                style="display: none"
              >
                <section>
                  <h3>ボタンと表示する場所の作成</h3>
                  <p>
                    &emsp;まずはボタンを作ってボタンのなかにテキストを入力してid属性を設定しましょう。それができたら&lt;div&gt;を用いて結果を表示する場所を作りましょう。<br />
                    この&lt;div&gt;要素の中身を書き換えることで結果を表示したいのでこの&lt;div&gt;要素にもidを設定しましょう。
                  </p>
                  <h3>DOM操作</h3>
                  <p>
                    「id="&emsp;"の要素」ブロック、「要素～の文章」ブロック、「～にイベント～が発生したとき」ブロック、「～に～を代入」ブロックを用いてDOM操作をしましょう。
                  </p>
                </section>
              </div>
              <div
                class="popup-slides"
                id="popup-slide-2"
                style="display: none"
              >
                <section>
                  <h3>乱数の作り方</h3>
                  <p>
                    &emsp;おみくじなのでどんな結果が出るのかはランダムで決まってほしいです。そこで変数に1未満のランダムな数を代入してその値によって条件分岐するようにしましょう。1未満のランダムな数を生成するには数式フォルダにある「1未満の正の乱数」ブロックを使いましょう。例えば変数の値が1～0.80のときに大吉と表示するようにすれば大吉は20%の確率で表示されるようになります。
                  </p>
                  <h3>条件分岐</h3>
                  <p>
                    条件分岐はボタンがクリックされると行われます。なので乱数の生成をどこで行うのかに注意しながらブロックを配置しましょう。
                  </p>
                </section>
              </div>
              <div
                class="popup-slides"
                id="popup-slide-3"
                style="display: none"
              >
                <section>
                  <発展・工夫>
                  <p>
                    例えばおみくじの結果によって文字の色や大きさが変わるようにしてみたり、おみくじの結果を増やしてみたり、一度に複数の結果を表示したりしてみましょう。
                  </p>
                </section>
                <video
                  src="<%= require('/src/images/omikujihatten.mp4')%>"
                  autoplay
                  muted
                  playsinline
                  loop
                  class="slide-images"
                  style="margin: 0"
                ></video>
              </div>
            </div>
            <div id="popup-navigation">
              <button id="popup-prev">戻る</button>
              <button id="popup-next">進む</button>
              <button id="popup-end">始める</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
