body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: auto;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  z-index: 100;
  /* box-shadow: 0 4px 2px -2px gray; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  border-bottom:#000000 1px solid;
}

#header-icon {
  width: 50px;
  height: 25px;
  vertical-align: middle;
}

.header-logo {
  font-size: 24px;
  /* font-weight: bold; */
  color: black;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  cursor: pointer;
}

.nav-links li a:hover {
  color: #725f0c;
}

h1 {
    margin-top: 70px;
    text-align: center;
}

.btn {
    display: block;
    padding: 10px;
    /* background-color: #007BFF; */
    text-align: left;
    color: #6875c0;
    text-decoration: none;
    box-sizing:border-box;
    width: 100%;
    height: 100%;
    /* border-radius: 5px; */
    transition: background-color 0.3s ease;
}

#contents-list {
    display: grid;
    grid-auto-rows: min-content;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 600px;
    background-color: #e0ebfa;
    border-radius: 10px;
    max-height: 3000px;
    min-height: 400px;
}

@media (min-width: 1350px) {
    #contents-list {
        grid-template-columns: repeat(2, 1fr);
        width: 1250px;
    }
}

@media (max-width: 700px) {
    #contents-list {
        width: 90%;
        overflow: auto;
        justify-content: left;
    }
}

.card {
    display: flex;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 300px;
    text-align: left;
    text-decoration: none;
    transition: background-color 0.3s ease;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 15px;
    max-height: 70px;
    color: #6875c0;
}

.card img {
    width: 260px;
    height: 85%;
    object-fit: cover;
}

.card:hover {
    background-color: #f3f3f3;
    z-index: 100;
}

.content-text {
    width: 300px;
    padding: 20px;
    color: #666;
}

.description {
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
}

.details {
    display: block;
    position: absolute;
    bottom: 7px;
    align-items: center;
    font-size: 12px;
    max-height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.images {
    margin: 20px;
    object-fit: cover;
    object-position: 0 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
    height: 250px;
}

/* ポップアップのスタイル */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.popup-content button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirmButton {
    background-color: #4CAF50;
    color: white;
}

#cancelButton {
    background-color: #f44336;
    color: white;
}

footer {
    margin-top: 50px;
    background-color: #70a471;
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
} 

footer p {
    margin: 0;
}

#loading-spinner {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    border: 5px solid #ccc; /* 背景色 */
    border-top: 5px solid #333; /* アクティブ部分の色 */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

#loading-spinner.hidden {
    display: none;
}
  
