<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>いろいろなHTML要素</title>
    <link rel="icon" href="<%= require('/src/images/icon.svg') %>">
  </head>
  <body>
    <div id="content" style="visibility: hidden;">
      <header>
        <div class="header-container">
          <div class="header-logo"><img id="header-icon" src="<%= require('/src/images/icon.svg') %>">Blosite</div>
          <!-- <sub>by ut.code();</sub> -->
          <nav>
            <ul class="nav-links">
                <li><a href="/tutorial">チュートリアル一覧へ</a></li>
                <li id="header-help"><a>ヘルプ</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="split-view vertical">
          <div id="pageContainer">
            <div id="outputPane">
              <div id="wstitle"></div>
              <div id="output"></div>
              <pre id="generatedCode" class="beforeClicked"><code></code></pre>
              <div id="error-message"></div>
            </div>
            <div id="blocklyDiv">
              <div id="icon-container">
                <input type="checkbox" id="run-toggle" class="run-toggle">
                <label for="run-toggle" id="run-icon" class="play"></label>
                
                <input type="checkbox" id="menu-toggle" class="menu-toggle">
                <label for="menu-toggle" id="hamburger-icon"></label>
  
                <!-- メニュー -->
                <ul class="menu">
                  <li id="code-button">コードを表示</li>
                  <li id="run-switch-button">スクリプトの<br>常時実行:OFF</li>
                  <li id="sandbox-button">サンドボックス<br>で作り続ける</li>
                  <li id="preview-button">プレビューを<br>全画面で表示</li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="popup">
          <div id="popup-outer"></div>
          <div id="popup-sandbox">
            <div id="popup-close">×</div>
            <p id="popup-sandbox-message"></p>
            <button id="popup-sandbox-button">進む</button>
          </div>
          <div id="popup-inner">
            <div id="popup-title">いろいろなHTML要素</div>
            <div id="popup-close">×</div>
            <div id="popup-button-container">
              <button class="popup-buttons" id="popup-button-0">目標</button>
              <span class="popup-arrow">&#x27A1;</span> 
              <button class="popup-buttons" id="popup-button-1">HTML要素の詳細</button>
              <span class="popup-arrow">&#x27A1;</span> 
              <button class="popup-buttons" id="popup-button-2">HTML属性とは</button>
              <span class="popup-arrow">&#x27A1;</span> 
              <button class="popup-buttons" id="popup-button-3">完成</button>
            </div>
            <div id="popup-message">
              <!-- ここにスライドコンテンツを表示 -->
              <div class="popup-slides" id="popupSlide-0" style="display: flex">
                <section class="silde-text-with-images">
                  <h3>目標</h3>
                  <p>
                    様々なHTML要素を使って、右の写真のようなサイトを作ってみよう！
                  </p>
                  <h3>詳細</h3>
                  <p>
                    すでに設置されているブロックを利用して、テキストボックスや文章を変更しましょう。<br><br>

                    もし最初からやり直したいときは、すべてのブロックを削除して、ページを再読み込みしてください。
                  </p>
                </section>
                <img src="<%= require('/src/images/various-html-elements_0.png') %>" alt="Sample Image" class="slide-images" style="max-height: 350px;">
              </div>
              <div class="popup-slides" id="popup-slide-1" style="display: flex;">
                <section class="silde-text-with-images">
                  <h3>HTML要素の種類</h3>
                  <p>
                    HTML要素には、特別な機能や見た目を持つものや、表示に関係なく要素の意味づけや整理をするために使われるものがあります。<br>
                    ここでは試しに、右の写真のようにブロックを組み立てて作ってみましょう。<br>
                    一般に、文章は段落を意味する<code class="popup-code">&lt;p&gt;</code>要素の中に書きます。また、下付き文字は<code class="popup-code">&lt;sub&gt;</code>要素を使って作成できます。<br>
                  </p>
                </section>
                <section style="display:flex; flex-direction: column; width: 40%;">
                  <img src="<%= require('/src/images/various-html-elements_1_0.png') %>" alt="Sample Image" class="slide-images" style="object-fit: cover; min-width: 300px;">
                  <img src="<%= require('/src/images/various-html-elements_1_1.png') %>" alt="Sample Image" class="slide-images" style="object-fit: cover; min-width: 300px;">
                </section>
              </div>
              <div class="popup-slides" id="popup-slide-2" style="display: flex;">
                <section class="silde-text-with-images">
                  <h3>HTML属性</h3>
                  <p>
                    HTML属性とは、HTML要素に付けることができる追加情報のことです。HTML属性のカテゴリーを開いてどんなものがあるか見てみましょう。<br>
                    HTML属性は右のように要素に対して組み付けることができます。ここでは<code class="popup-code">&lt;input&gt;</code>要素の<code class="popup-code">type</code>属性について詳しく見てみましょう。<br>
                    <code  class="popup-code">type="text"</code>（デフォルトの設定）だと文字の入力欄、<code class="popup-code">type="number"</code>だと数字の入力欄、<code  class="popup-code">type="checkbox"</code>だとチェックボックスになります。<br>
                    また、HTML属性は１つの要素に複数個つけることができます。例えば、<code  class="popup-code">placeholder</code>属性を付け加えると、入力欄に何を入力すればいいかヒントを表示することができます。<code  class="popup-code">style</code>属性では、見た目を自在に変更することができます！（詳しくは次のチュートリアルでやりましょう）<br>
                  </p>
                  <img src="<%= require('/src/images/various-html-elements_2.png') %>" alt="Sample Image" class="slide-images">
                </section>
              </div>
              <div class="popup-slides" id="popup-slide-3" style="display: flex;">
                <section class="silde-text-with-images">
                  <h3>機能追加</h3>
                  <p>
                    では、残りの部分を完成させましょう！
                    右の写真を参考に、HTML要素を使ってサイトを完成させてください。<br>
                  </p>
                  <h3>ヒント</h3>
                  <ol>
                    <li>キーの表示は<code  class="popup-code">&lt;kbd&gt;</code>を使いましょう。</li>
                    <li>チェックボックスは<code  class="popup-code">&lt;input&gt;</code>の属性に<code  class="popup-code">type="checkbox"</code>を設定しましょう。</li>
                    <li><code  class="popup-code">&lt;div&gt;</code>の属性に<code  class="popup-code">style="flex"</code>を指定すると、その<code  class="popup-code">&lt;div&gt;</code>の中にある要素を横方向に並べることができます。</li>
                  </ol>
                </section>
                <img src="<%= require('/src/images/various-html-elements_0.png') %>" alt="Sample Image" class="slide-images">
              </div>
            </div>
            <div id="popup-navigation">
              <button id="popup-prev">戻る</button>
              <button id="popup-next">進む</button>
              <button id="popup-end">始める</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
