<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>表計算</title>
    <link rel="icon" href="<%= require('/src/images/icon.svg') %>" />
  </head>
  <body>
    <div id="content" style="visibility: hidden">
      <header>
        <div class="header-container">
          <div class="header-logo">
            <img id="header-icon" src="<%= require('/src/images/icon.svg') %>">Blosite</div>
          <!-- <sub>by ut.code();</sub> -->
          <nav>
            <ul class="nav-links">
              <li><a href="/tutorial">チュートリアル一覧へ</a></li>
              <li id="header-help"><a>ヘルプ</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="split-view vertical">
        <div id="pageContainer">
          <div id="outputPane">
            <div id="wstitle"></div>
            <div id="output"></div>
            <pre id="generatedCode" class="beforeClicked"><code></code></pre>
            <div id="error-message"></div>
          </div>
          <div id="blocklyDiv">
            <div id="icon-container">
              <input type="checkbox" id="run-toggle" class="run-toggle" />
              <label for="run-toggle" id="run-icon" class="play"></label>

              <input type="checkbox" id="menu-toggle" class="menu-toggle" />
              <label for="menu-toggle" id="hamburger-icon"></label>

              <!-- メニュー -->
              <ul class="menu">
                <li id="code-button">コードを表示</li>
                <li id="run-switch-button">スクリプトの<br />常時実行:OFF</li>
                <li id="sandbox-button">サンドボックス<br />で作り続ける</li>
                <li id="preview-button">プレビューを<br />全画面で表示</li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="popup">
          <div id="popup-outer"></div>
          <div id="popup-sandbox">
            <div id="popup-close">×</div>
            <p id="popup-sandbox-message"></p>
            <button id="popup-sandbox-button">進む</button>
          </div>
          <div id="popup-inner">
            <div id="popup-title">表計算</div>
            <div id="popup-close">×</div>
            <div id="popup-button-container">
              <button class="popup-buttons" id="popup-button-0">目標</button>
              <span class="popup-arrow">&#x27A1;</span>
              <button class="popup-buttons" id="popup-button-1">
                HTMLの構成
              </button>
              <span class="popup-arrow">&#x27A1;</span>
              <button class="popup-buttons" id="popup-button-2">
                さまざまな処理
              </button>
              <span class="popup-arrow">&#x27A1;</span>
              <button class="popup-buttons" id="popup-button-3">
                独自の機能を追加
              </button>
            </div>
            <div id="popup-message">
              <!-- ここにスライドコンテンツを表示 -->
              <div class="popup-slides" id="popupSlide-0">
                <section>
                  <h3>目標</h3>
                  <p>
                    表に値を入力し、行ごとの総和や平均が出力されるプログラムを作ってみよう！
                  </p>
                  <h3>詳細</h3>
                  <p>
                    ３✕３の表のうち、一行目には「一列目」「二列目」「計算結果」と表示させ、他の行の一、二列目には数字を入力する箇所を、三列目には列ごとの計算結果を表示する場所を作りましょう。<br />
                    また、行ごとの計算方法を選択できるメニューと、押すと計算結果が表示されるボタンも置きましょう。<br />
                    <br />
                    自信のある方は次の説明を見ずに自分で一から作ってみましょう！<br />
                  </p>
                </section>
                <video src="<%= require('/src/images/spread-sheet_0.mp4') %>" controls style="max-height: 350px;">
              </div>
              <div
                class="popup-slides"
                id="popup-slide-1"
                style="display: none"
              >
                <section>
                  <h3>HTML</h3>
                  <p>
                    まずは<code class="popup-code">&lt;table&gt;</code>などを利用して表を作ってみましょう。<br />
                    その後、<code class="popup-code">&lt;input&gt;</code>を使って値を入力する箇所を、<code class="popup-code">&lt;button&gt;</code>を使って計算を行うボタンを、<code class="popup-code">&lt;select&gt;</code>で計算方法を選べるメニューを作成します。<code class="popup-code">&lt;input&gt;</code>には、<code class="popup-code">type = number</code>を設定するとよいでしょう。<br />
                    数値を取得する、計算結果を表示するためにidも設定しておきましょう。<br />
                  </p>
                  <h3>CSS</h3>
                  <p>
                    つぎはCSSを使って自分の思うままにスタイルを設定してみましょう。<code class="popup-code">&lt;style&gt;</code>タグを使ってその中にCSSを記述します。<br />
                    <code class="popup-code">&lt;td&gt;</code>や<code class="popup-code">&lt;th&gt;</code>には<code class="popup-code">border</code>を、<code class="popup-code">&lt;table&gt;</code>には<code class="popup-code">border-collapse: collapse</code>を設定することで、それらしいボーダーが表示されるようになります。<br />
                    ある程度できたら次に進みましょう。<br />
                  </p>
                </section>
              </div>
              <div
                class="popup-slides"
                id="popup-slide-2"
                style="display: none"
              >
                <section>
                  <h3>値の取得</h3>
                  <p>
                    JavaScriptを使って、入力された値の取得、計算、表示を行いましょう。<code class="popup-code">&lt;script&gt;</code>タグを使ってその中にJavaScriptを記述します。<br />
                    前もって設定しておいたidの要素を取得するには、「id="～"の要素」ブロックを使いましょう。必要であれば、取得した要素を変数にセットしましょう。<br />
                    <code class="popup-code">&lt;input&gt;</code>に入力された値を読み取るには「要素内の値を取得」ブロックを、<code class="popup-code">&lt;select&gt;</code>の選択には「要素内の文章を取得」を使いましょう。<br />
                  </p>
                  <h3>計算</h3>
                  <p>
                    取得した値を使って計算を行いましょう。<code class="popup-code">&lt;select&gt;</code>で選択された値によって、計算方法を変えるには、「論理」カテゴリーの「もし～実行～」ブロックなどを使って別々の計算をしましょう。<br />
                    計算をする前に気をつけなければならないことがあります。それは、「要素内の値を取得」で取得した値は文字列として扱われるため、計算を行う際には数値に変換する必要があるということです。「～を～に変換」ブロックを使いましょう。<br />
                    そうしたら、「数式」カテゴリーのブロックで計算をしましょう。必要であれば、計算結果も変数にセットしておきましょう。<br />
                  </p>

                  <h3>表示</h3>
                  <p>
                    最後に、計算結果を表示するようにしましょう。ボタンを押すと結果が表示されるようにするために、「～にイベントクリックが発生したときに～」ブロックを使いましょう。ここで注意点ですが、このブロックの内部で<code class="popup-code">&lt;input&gt;</code>の値を取得するようにしてください。そうしないと、取得されるのが<code class="popup-code">input</code>に何も入っていない最初の一回だけとなり正常に動作しません。計算処理もこのブロックの中に入れ込みましょう。<br />
                    表示については、「～を～に代入」ブロックを使って、要素内の値を変更することができます。<br />
                  </p>
                </section>
              </div>
              <div
                class="popup-slides"
                id="popup-slide-3"
                style="display: none"
              >
                <section>
                  <h3>機能追加</h3>
                  <p>
                    ここまでできたら、さらに機能を追加してみましょう。<br />
                    「こんなのができたらいいな～」、「こんな機能があったら便利だな～」と想像を膨らませ、趣くままに作ってみましょう。<br />
                    考えられる機能としては例えば、行の追加や削除機能、セルの色を変える機能などが挙げられます。<br />
                  </p>
                </section>
              </div>
            </div>
            <div id="popup-navigation">
              <button id="popup-prev">戻る</button>
              <button id="popup-next">進む</button>
              <button id="popup-end">始める</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
