<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>HTMLについて知ろう</title>
    <link rel="icon" href="<%= require('/src/images/icon.svg') %>">
  </head>
  <body>
    <div id="content" style="visibility: hidden;">
      <header>
        <div class="header-container">
          <div class="header-logo">
            <img id="header-icon" src="<%= require('/src/images/icon.svg') %>">Blosite</div>
          <!-- <sub>by ut.code();</sub> -->
          <nav>
            <ul class="nav-links">
                <li><a href="./..">トップページに戻る</a></li>
                <li id="header-help"><a>ヘルプ</a></li>
                <li><a href="#">Q&A</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="split-view vertical">
        <div id="pageContainer">
          <div id="outputPane">
            <div id="wstitle"></div>
            <div id="output"></div>
            <pre id="generatedCode" class="beforeClicked"><code></code></pre>
            <div id="error-message"></div>
          </div>
          <div id="blocklyDiv">
            <div id="icon-container">
              <input type="checkbox" id="run-toggle" class="run-toggle">
              <label for="run-toggle" id="run-icon" class="play"></label>
              
              <input type="checkbox" id="menu-toggle" class="menu-toggle">
              <label for="menu-toggle" id="hamburger-icon"></label>

              <!-- メニュー -->
              <ul class="menu">
                <li id="code-button">コードを表示</li>
                <li id="run-switch-button">スクリプトの<br>常時実行:OFF</li>
                <li id="sandbox-button">サンドボックス<br>で作り続ける</li>
                <li id="preview-button">プレビューを<br>全画面で表示</li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="popup">
          <div id="popup-outer"></div>
          <div id="popup-sandbox">
            <div id="popup-close">×</div>
            <p id="popup-sandbox-message"></p>
            <button id="popup-sandbox-button">進む</button>
          </div>
          <div id="popup-inner">
            <div id="popup-title">HTMLについて知ろう</div>
            <div id="popup-close">×</div>
            <div id="popup-button-container">
              <button class="popup-buttons" id="popup-button-0">HTMLとは</button>
              <span class="popup-arrow">➡️</span> 
              <button class="popup-buttons" id="popup-button-1">実際にやってみよう</button>
              <span class="popup-arrow">➡️</span> 
              <button class="popup-buttons" id="popup-button-2">持ち物リストを作ってみよう</button>
              <span class="popup-arrow">➡️</span> 
              <button class="popup-buttons" id="popup-button-3">ヒント</button>
            </div>
            <div id="popup-message">
              <!-- ここにスライドコンテンツを表示 -->
              <div class="popup-slides" id="popupSlide-0">
                <section>
                  <h2>HTMLについて</h2>
                  <p>
                    <b>HTML</b>(HyperText Markup Language)は普段みなさんが使っているウェブサイトの構造を書き表すための言語のひとつです。右の画像のようにHTMLは入れ子構造で書かれます。
                  </p>               
                  <h2>HTML要素</h2>
                  <p class="text">
                    HTMLでは、タグを使うことで文章に意味を持たせることができます。<br>
                    タグとは<code class="popup-code">&lt;</code>と<code class="popup-code">&gt;</code>で囲まれた英数字のまとまりで、<code class="popup-code">&lt;tag&gt;内容&lt;/tag&gt;</code>のように書かれた場合<code class="popup-code">&lt;tag&gt;</code>を開始タグ、<code class="popup-code">&lt;/tag&gt;</code>を終了タグと呼びます。そしてこの開始タグから終了タグまでをまとめて<b>要素</b>と呼びます。<br>
                    また、開始タグと終了タグの間にはテキストや別の要素を入れることができます。
                  </p>
                </section>
                <img src ="<%= require('/src/images/htmlbasic.png')%>"alt="Description of image" class="slide-images"></img> 
              </div>
              <div class="popup-slides" id="popup-slide-1" style="display: none;">
                <section>
                  <h2>要素の変更</h2>
                  <p>
                    まずは実際に要素の中身を書き換えてみましょう。このポップアップを一度閉じ、Hello World! と書かれている部分を好きなように書き換えてみましょう。<br>
                    文章の書き換えに応じて、右側のプレビューも変わることを確認してください。<br>
                    書き換えることに成功したら右上のヘルプをクリックしてもう一度この画面に戻ってきてください。
                  </p>
                  <h2>ここで使われている要素の説明</h2>
                  <ul>
                    <li>html要素：この文章がHTMLであることを表します。</li>
                    <li>head要素：ウェブサイトのタイトルやリンク情報を入れることができます。</li>
                    <li>title要素：この文章のタイトルを表します。</li>
                    <li>body要素：ウェブサイトの中身を表す要素です。この中に書いた要素がページ上に表示されます。</li>
                    <li>h1要素：見出しを表します。数字を大きくするにつれて見出しの大きさが小さくなります。</li>
                  </ul>
                </section>
              </div>
              <div class="popup-slides" id="popup-slide-2" style="display: none;">
                <section>
                  <h2>持ち物リストを作ろう</h2>
                <p>
                  ではさっそく下の画像のような持ち物リストを作ってみましょう。<br>
                  今回使用するのは、<code class="popup-code">&lt;h&gt;</code>で囲まれたブロック、<code class="popup-code"> ”</code>で囲まれたブロック、<code class="popup-code">&lt;ul&gt;</code>で囲まれたブロックと<code class="popup-code">&lt;li&gt;</code>で囲まれたブロックです。左上のHTML要素の部分をクリックするとブロックが出てきます。<br>
                  <code class="popup-code">&lt;ul&gt;</code>で表されるul要素は箇条書きで表示させたいときに使われます。そして<code class="popup-code">&lt;li&gt;</code>で表されるli要素はlist itemの略で、ul要素の中に入れることで、li要素に書かれた文字を箇条書きで表示させることができます。<br>
                  まずはヒントを見ないでやってみましょう。わからなくなったらヒントを見てみましょう。
                </p>
                </section>
                <img src ="<%= require('/src/images/motimono.png')%>"alt="Description of image" class="slide-images"></img>
              </div>
              <div class="popup-slides" id="popup-slide-3" style="display: none;">
                <section>
                <h2>ヒント</h2>
                <p>
                  <code class="popup-code">&lt;h1&gt;</code>ブロックの中には<code class="popup-code"> ”</code>で囲まれたテキストブロックのみを入れます。<br>
                  <code class="popup-code">&lt;ul&gt;</code>ブロックは<code class="popup-code">&lt;h1&gt;</code>ブロックの下にくっつけて、<code class="popup-code">&lt;li&gt;</code>ブロックは右の写真のように<code class="popup-code">&lt;ul&gt;</code>ブロックの中に入れます。
                </p>
                </section>
                <img src ="<%= require('/src/images/kuttukekata.png')%>"alt="Description of image" class="slide-images"></img>
              </div>
            </div>
            <div id="popup-navigation">
              <button id="popup-prev">戻る</button>
              <button id="popup-next">進む</button>
              <button id="popup-end">始める</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
