body {
  margin: 0;
  max-width: 100vw;
}

pre,
code {
  overflow: auto;
}

#pageContainer {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

#blocklyDiv {
  flex-basis: 100%;
  height: 100%;
  min-width: 600px;
  order: 1;
}

#outputPane {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  flex: 0 0 400px;
  overflow: auto;
  margin: 1rem;
  order: 2;
}

#generatedCode {
  background-color: rgb(247, 240, 228);
  order: 5;
  user-select: text;
  cursor: text;
}

#output {
  height: 70%;
  order: 3;
  overflow: auto  ;
}

/* styleを指定しない場合にブロックが生成する要素のスタイルを定義 */

#output blockquote {
  margin: 1em 0;          /* 上下のマージンを設定 */
  padding: 0.5em 1em;    /* 内側のパディングを設定 */
  border-left: 4px solid #ccc; /* 左側にボーダーを追加 */
  background-color: #f9f9f9;    /* 背景色を設定 */
  /*color: #333;            /* 文字色を設定 */
  quotes: "“" "”" "‘" "’"; /* 引用符を設定 */
}

#output code {
  font-family: monospace;
  background-color: #f9f9f9;
  /* padding: 0.2em 0.4em;
  margin: 0; */
  /* font-size: 85%; */
  border-radius: 3px;
}

#output kbd {
  font-family: monospace;
  font-size: 1em;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.1em 0.6em;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

#output var {
  font-style: italic; /* 標準がitalic */
}

/* ブロックが生成する要素のスタイルここまで */

#button {
  position: relative;
  height: 50px;
  width: 150px;
  order: 4;
  margin: 0 auto
}


.split-view {
  display: flex;
}
.split-view.vertical{
  flex-direction: row;
}
.split-view.holizontal{
  flex-direction: column;
}


.afterClicked {
  position: relative;
  height: 160%;
  background-color: rgb(247,240,228);
  order:  5;
}

.beforeClicked {
  display: none;
}

