<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8"/>
    <title>サンドボックス</title>
    <link rel="icon" href="<%= require('/src/images/icon.svg') %>">
  </head>
  <body>
    <div id="content" style="visibility: hidden;">
      <header>
        <div class="header-container">
          <div class="header-logo">
            <img id="header-icon" src="<%= require('/src/images/icon.svg') %>">Blosite</div>
          <!-- <sub>by ut.code();</sub> -->
          <nav>
            <ul class="nav-links">
                <li><a href="./..">トップページに戻る</a></li>
                <li><a href="./../tutorial">チュートリアルへ移動</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="split-view vertical">
        <div id="pageContainer">
          <div id="outputPane">
            <div id="wstitle"></div>
            <div id="output"></div>
            <pre id="generatedCode" class="beforeClicked"><code></code></pre>
            <div id="error-message"></div>
          </div>
          <div id="blocklyDiv">
            <div id="icon-container">
              <input type="checkbox" id="run-toggle" class="run-toggle">
              <label for="run-toggle" id="run-icon" class="play"></label>
              
              <input type="checkbox" id="menu-toggle" class="menu-toggle">
              <label for="menu-toggle" id="hamburger-icon"></label>

              <!-- メニュー -->
              <ul class="menu">
                <li id="code-button">コードを表示</li>
                <li id="run-switch-button">スクリプトの<br>常時実行:OFF</li>
                <li id="save-button">共有する</li>
                <li id="preview-button">プレビューを<br>全画面で表示</li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="popup-outer" style="display:none;"></div>
        <div id="popup-form">
          <form id="content-form">
            <label for="username">ユーザーの名前:</label>
            <input type="text" id="username" name="username" maxlength="15" required><br><br>
    
            <label for="contentName">ウェブサイトの名前:</label>
            <input type="text" id="contentName" name="contentName" maxlength="30" required><br><br>
    
            <label for="description">ウェブサイトの説明:</label>
            <textarea id="description" name="description" maxlength="200" required></textarea><br><br>
    
            <button id="submit-button" type="submit">共有する</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
