<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blosite</title>
    <link rel="icon" href="<%= require('/src/images/icon.svg') %>" />
  </head>
  <body>
    <div id="container" style="visibility: hidden">
      <header>
        <div class="header-container">
          <a href="#" class="header-logo"
            ><img
              id="header-icon"
              src="<%= require('/src/images/icon.svg') %>"
            />Blosite</a
          >
          <!-- <sub>by ut.code();</sub> -->
          <!-- <nav>
                <ul class="nav-links">
                    <li><a href="./..">トップページに戻る</a></li>
                </ul>
              </nav> -->
        </div>
      </header>
      <div class="content">
        <div class="card" id="about">
          <div>
            <h2>Blositeへようこそ!</h2>
            <p>
              ここでは、直感的に操作しやすいブロックプログラミングでWebページを作って遊ぶことができます。<br>
              プログラミングが初めての方でも気軽に楽しめます！
            </p>
            <a href="https://kf75.utcode.net/" class="btn"
              >ut.code(); 駒場祭ウェブサイトに戻る</a
            >
          </div>
        </div>
        <div class="card">
          <div class="card-text">
            <h2>まずはここから</h2>
            <p>Blositeの遊び方やウェブサイトの作り方を学ぼう！</p>
            <a href="./tutorial" class="btn">チュートリアル一覧へ</a>
          </div>
          <img
            id="card-img"
            src="<%= require('/src/images/top_tutorial.png') %>"
          />
        </div>
        <div class="card">
          <div class="card-text">
            <h2>ゼロから作ろう</h2>
            <p>自由にブロックを配置して<br>自分なりのサイトを作ってみよう！</p>
            <a href="./sandbox" class="btn">サンドボックスへ</a>
          </div>
          <img
            id="card-img"
            src="<%= require('/src/images/top_sandbox.png') %>"
          />
        </div>
        <div class="card">
          <div>
            <h2>アイデアを求めて</h2>
            <p>他の人が作って公開したウェブサイトに触れてみよう！</p>
            <a href="./share" class="btn">共有ページへ</a>
          </div>
        </div>
        <div id="help" class="card">
          <div>
            <h2>困ったときは</h2>
            <div id="help-menu">
                <details>
                    <summary>このサイトでは何をすればいいのですか？</summary>
                    <p>
                        まずはチュートリアル一覧に移動して、「Blositeって？」というチュートリアルをやりましょう！<br>
                        その後は他のチュートリアルを進めたり、サンドボックスで自由に作ったり、他の人が作ったサイトを見たりしてみましょう！
                    </p>
                </details>
                <details>
                    <summary>チュートリアルは順番通りに全部やらないといけないのですか？</summary>
                    <p>
                        そんなことはありません！<br>
                        チュートリアルを無視して自分の好きなサイトを作っても構いませんし、途中でチュートリアルに戻っても大丈夫です！
                    </p>
                </details>
                <details>
                    <summary>作ったサイトはどうやって共有すればいいのですか？</summary>
                    <p>
                        サンドボックスのページから共有できます。<br>
                        丸型のアイコンを押すと出てくるメニューにある「共有する」を押して入力欄を埋めると共有できます！
                    </p>
                </details>
                <details>
                    <summary>〇〇や△△がよくわからないです...</summary>
                    <p>
                        ぜひ現地のスタッフに聞きましょう！<br>
                        どんな質問でも優しく答えてくれますよ！
                    </p>
                </details>
                <details>
                    <summary>共有したサイトを削除したいのですが...</summary>
                    <p>
                        スタッフにお尋ねください！<br>
                    </p>
                </details>
                <details>
                    <summary>作っていたら動かなくなりました...</summary>
                    <p>
                        無限ループが発生するようなスクリプトを実行すると、ページが止まってしまいます。<br>
                        お手数ですが、一度開いているタブを閉じた後に再度開いてみてください。<br>
                        他の原因の場合や解決しない場合は、スタッフにお尋ねください！
                    </p>
                </details>
                <details>
                    <summary>その他の質問</summary>
                    <p>
                        どんな質問でもお気軽にどうぞ！<br>
                        現地のスタッフがお答えします！
                    </p>
                </details>
            </div>
            <!-- <a href="" class="btn">もっと詳しく</a> -->
          </div>
        </div>
      </div>
      <footer>
        <p>ut.code(); 駒場祭プロジェクト</p>
      </footer>
    </div>
  </body>
</html>
