<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Todo</title>
    <link rel="icon" href="<%= require('/src/images/icon.svg') %>">
  </head>
  <body>
    <div id="content" style="visibility: hidden;">
      <header>
        <div class="header-container">
          <a href="#" class="header-logo">Blosite</a>
          <!-- <sub>by ut.code();</sub> -->
          <nav>
            <ul class="nav-links">
                <li><a href="/tutorial">チュートリアル一覧へ</a></li>
                <li id="header-help"><a>ヘルプ</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="split-view vertical">
        <div id="pageContainer">
          <div id="outputPane">
            <div id="wstitle"></div>
            <div id="output"></div>
            <pre id="generatedCode" class="beforeClicked"><code></code></pre>
            <div id="error-message"></div>
          </div>
          <div id="blocklyDiv">
            <div id="icon-container">
              <input type="checkbox" id="run-toggle" class="run-toggle">
              <label for="run-toggle" id="run-icon" class="play"></label>
              
              <input type="checkbox" id="menu-toggle" class="menu-toggle">
              <label for="menu-toggle" id="hamburger-icon"></label>

              <!-- メニュー -->
              <ul class="menu">
                <li id="code-button">コードを表示</li>
                <li id="run-switch-button">スクリプトの<br>常時実行:OFF</li>
                <li id="sandbox-button">サンドボックス<br>で作り続ける</li>
                <li id="preview-button">プレビューを<br>全画面で表示</li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="popup">
          <div id="popup-outer"></div>
          <div id="popup-sandbox">
            <div id="popup-close">×</div>
            <p id="popup-sandbox-message"></p>
            <button id="popup-sandbox-button">進む</button>
          </div>
          <div id="popup-inner">
            <div id="popup-title">Todoリストを作ろう</div>
            <div id="popup-close">×</div>
            <div id="popup-button-container">
              <button class="popup-buttons" id="popup-button-0">目標</button>
              <span class="popup-arrow">&#x27A1;</span> 
              <button class="popup-buttons" id="popup-button-1">Todoリストの内容を入れられるようにする</button>
              <span class="popup-arrow">&#x27A1;</span> 
              <button class="popup-buttons" id="popup-button-2">Todoリストの追加</button>
              <span class="popup-arrow">&#x27A1;</span> 
              <button class="popup-buttons" id="popup-button-3">Todoリストの削除</button>
            </div>
            <div id="popup-message">
              <!-- ここにスライドコンテンツを表示 -->
              <div class="popup-slides" id="popupSlide-0">
                <section id="popup-slide-content-0">
                  <p>
                    項目が追加、削除ができるTodoアプリを作ってみましょう！<Br>
                    余力のある人は自力でチャレンジしてみましょう！
                  </p>
                </section>
              </div>
              <div class="popup-slides" id="popup-slide-1" style="display: none;">
                <section>
                  <h2>
                    構造
                  </h2>
                  <p>
                    Todoリストを構成する基本的な要素として、
                    <ul>
                      <li>Todoリストが入るタグを作る</li>
                      <li>Todoリストにテキストを入れられるようにする</li>
                      <li>Todoリストを追加、削除するボタンを作る</li>
                    </ul>
                    この３つが挙げられます。<br>
                  </p>
                  <h2>IDでタグ付け</h2>
                  <p>
                    はじめに、<code class="popup-code">&lt;input&gt;</code>、<code class="popup-code">&lt;button&gt;</code>、<code class="popup-code">&lt;ul&gt;</code>にIDブロックをつけましょう。<br>
                    IDをつけることによって、この後行う制御フォルダを用いた作業でこれらのタグに色々な機能をつけることができます。<br>
                    IDの名前は今回は<code class="popup-code">&lt;input&gt;</code>にtodo-input,<code class="popup-code">&lt;button&gt;</code>にadd-button、<code class="popup-code">&lt;ul&gt;</code>にtodo-listと入れることにしましょう。
                  </p>
                </section>
                <img src ="<%= require('/src/images/todo_1.png')%>"alt="Description of image" class="slide-images"></img> 
              </div>
              <div class="popup-slides" id="popup-slide-2" style="display: none;">
                <section>
                  <p>
                    次に、押すことでTodoリストを追加できるようなボタンを作りましょう。<br>
                    ボタンを押した後に<br>
                    <ul>
                      <li><code class="popup-code">&lt;ul&gt;</code>の中に新たな項目<code class="popup-code">&lt;li&gt;</code>を入れる</li>
                      <li><code class="popup-code">&lt;input&gt;</code>の中に入れた文章を<code class="popup-code">&lt;li&gt;</code>の中に入れる</li>
                    </ul>
                    この２つがしたいですね。<br>
                    ここでJavascriptを用いてクリックしたら<br>
                    <ul>
                      <li>要素名liを追加する</li>
                      <li>追加した要素の内容を<code class="popup-code">&lt;input&gt;</code>の内容に変更する</li>
                    </ul>
                    ようにしましょう。
                  </p>
                </section>
              </div>
              <div class="popup-slides" id="popup-slide-3" style="display: none;">
                <section>
                  <p>
                    次に、削除ボタンをTodoリストに追加しましょう。<br>
                    ボタンを押した後に、
                    <ul>
                      <li>要素buttonを追加し、その内容を「削除」に変える</li>
                      <li>削除ボタンが押された際に<code class="popup-code">&lt;li&gt;</code>タグを消す</li>
                    </ul>
                    とすればいいですね。<br>
                  </p>
                </section>
              </div>
            </div>
            <div id="popup-navigation">
              <button id="popup-prev">戻る</button>
              <button id="popup-next">進む</button>
              <button id="popup-end">始める</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>