<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Blockly Sample App</title>
</head>
  <body>
    <div id="content" style="visibility: hidden;">
      <header>
        <div class="header-container">
          <a href="#" class="header-logo">Blosite</a>
          <!-- <sub>by ut.code();</sub> -->
          <nav>
            <ul class="nav-links">
                <li><a href="./..">トップページに戻る</a></li>
                <li id="header-help"><a>ヘルプ</a></li>
                <li><a href="#">Q&A</a></li>
            </ul>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
          </nav>
        </div>
      </header>
      <div class="split-view vertical">
        <div id="pageContainer">
          <div id="outputPane">
            <pre id="generatedCode" class="beforeClicked"><code></code></pre>
            <div id="wstitle"></div>
            <div id="output"></div>
            <button id="code-button">コードを表示する</button>
            <div id="errorMessage">何もエラーは起こってません</div>
          </div>
          <div id="blocklyDiv"></div>
        </div>
        <!--
        <label for="popupflag1">popup 1</label>
        <input type="checkbox" class="popup-flag1" id="popupFlag1">
        <label class="popup-background" for="popupFlag1"></label>
        <div class="popup">
          <label class="close-button" for="popupFlag1">×</label>
          <div class="content">
            content
          </div>
        </div>
        --->
        <div id="popup">
          <div id="popup-outer"></div>
          <div id="popup-inner">
            <div id="popup-title">CSSについて知ろう</div>
            <div id="popup-close">×</div>
            <div id="popup-button-container">
              <button class="popup-buttons" id="popup-button-0">CSSとは</button>
              <span class="popup-arrow">➡️</span> 
              <button class="popup-buttons" id="popup-button-1">実際にやってみよう</button>
              <span class="popup-arrow">➡️</span> 
              <button class="popup-buttons" id="popup-button-2">様々なCSSを同時に使ってみよう</button>
              <span class="popup-arrow">➡️</span> 
              <button class="popup-buttons" id="popup-button-3">ヒント</button>
            </div>
            <div id="popup-message">
              <!-- ここにスライドコンテンツを表示 -->
              <div class="popup-slides" id="popupSlide-0">
                <section>
                  <h2>CSS</h2>
                  <p>
                  &emsp;今まではhtmlとは何かについて学びました。htmlがウェブサイトの構造を表す言語だったのに対してCSSはウェブサイトの見た目を<br>
                  表す言語です。blositeではstyle属性をhtml要素に加えることでCSSを記述して見た目を変更することができます。style属性を追加する<br>
                  には左上のHTMLAttributesの中に入っているstyleと書かれたブロックを使います。
                  </p>
                  <img
                </section>
              </div>
              <div class="popup-slides" id="popup-slide-1" style="display: none;">
                <section style="display: inline;">
                  <h2>styleブロックの使い方</h2>
                  <p>
                    &emsp;styleブロックの中には歯車が入っています。その歯車をクリックすると右の画像のように項目がでてきます。項目と書かれたブロックをドラッグすることで接続する部分の数を変更することができます。
                  </p>
                  <h2>色を変えてみよう</h2>
                  <p>
                    &emsp;まずは実際に文字の色を変えてみましょう。HTMLを知ろうのところで作成した遠足の持ち物リス<br>
                    トがあるのでその文字の色を変えてみましょう。
                    文字の色を変えるにはstyleブロックにCSSカテゴリーに含まれているcolorブロックを使います。色は色コードを入力するか色の名前を英語で入力することで変更することができます。
                  </p>
                </section>
                <img src ="<%= require('/src/images/styleblock.gif')%>"alt="Description of image" width="240" height="150" ></img>
              </div>
              <div class="popup-slides" id="popup-slide-2" style="display: none;">
                <section style="display: inline-block;">
                  <h2>下の画像のようなものを作ってみよう</h2>
                  <p>
                  &emsp;先ほどは文字の色だけを変更してもらいましたがCSSでできるのは文字の色の変更だけではありません。今度は背景の色と文字の配置を変えてみましょう。
                  右の画像と同じものを作ってみましょう。
                  </p>
                  <img src ="<%= require('/src/images/cssexample.png')%>"alt="Description of image" width ="360" height="150" ></img>
                  <p>
                    ここではまず背景の色は黄色になっています。また見出しの遠足の持ち物の位置が中央になるようになっていて、持ち物の内容の色が青色になっています。
                  </p>
                </section>
              </div>
              <div class="popup-slides" id="popup-slide-3" style="display: none;">
                <section>
                  <h2>ヒント</h2>
                  <p>
                    &emsp;背景の色を変えるにはbackground-colorブロックを使いましょう。色の指定の仕方はcolorブロックと同じです。文字の位置の変え方はいくつかの方法がありますが、今回はtext-alignブロックを使ってみましょう。text-alignブロックは特定の値しか入れることができないので注意してください。
                  </p>
                </section>
              </div>
            </div>
            <div id="popup-navigation">
              <button id="popup-prev">戻る</button>
              <button id="popup-next">進む</button>
              <button id="popup-end">始める</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
